@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alkatra:wght@500&display=swap');

* {
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    overflow: hidden;
    display: none;
}

body::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.1825105042016807) 0%, rgba(35, 38, 53, 0.8) 100%);
} 


.container{
    width: 600px;
    height: 800px;
    background: #ECE4EC;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
    animation-name: zoomIn;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(https://cdn.discordapp.com/attachments/1324519366691393578/1350530353600663552/Koi_Sushi.png);
}

.container-dentro{
    width: 442px;
    height: 61%;
    position: absolute;
    left: 0;
    bottom: 7%;
    right: 0;
    margin: auto;
}

.buttons-c{
    width: 100%;
    height: 35px;
    margin-top: 2%;
}

.buttons-c button{
    background: #ffffff;
    color: #000;
    outline: 0;
    border: 0;
    border-radius: 5px;
    height: 35px;
    width: 32.5%;
    font-family: 'Montserrat', sans-serif;
    display: inline-block;
    font-size: 14px;
    transition: all .5s;
}

.buttons-c button:hover{
    background: #ffffff;
}

.Iconbotao{
    margin-right: 10px;
}

.itens-c{
    width: 100%;
    height: 90%;
    overflow: auto;
}

.itens-c2{
    width: 100%;
    height: 90%;
    overflow: auto;
}


.item{
    width: 32.6%;
    height: 150px;
    margin-top: 4%;
    border-radius: 5px;
    background: #ffffff;
    display: inline-block;
}

.itens-combo{
    width: 100%;
    height: 30%;
    margin-top: 2%;
    border-radius: 5px;
    background: #ffffff;
}

.nome-combo{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    color: #000;
    position: relative;
    top: 10%;
    left: 5%;
    align-self: center;
	width: 100%;
}

.itens-box-combo{
    width: 100%;
    height: 50%;
    margin-top: 6%;
    margin-left: 5%;
}

.item-combo{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    display: inline-block;
    background: #ffffff;
}

.img-combo{
    min-width: 55px;
    min-height: 55px;
    max-width: 55px;
    max-height: 55px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.quantidade{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #000;
    text-align: center;
}

.preco-combo{
    padding: 5px 5px 5px 5px;
    background: rgb(31, 158, 31);
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #f7f7f7;
    margin-left: 3%;
    text-align: center;
}

.item img{
    min-width: 100px;
    min-height: 100px;
    max-width: 100px;
    max-height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 5%;
}

.nome-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    color: #000;
    margin-top: 5%;
    align-self: center;
	width: 100%;
	text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.preco-item{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-top: 2%;
    color: #ffffff;
    align-self: center;
	width: 100%;
	text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

::-webkit-scrollbar{
	width: 5px;
	height: 1px;
    border-radius: 30px;
    background: transparent;
}

::-webkit-scrollbar-thumb{
	background: #ffffff;
    border-radius: 30px;
    transition: all 1s;
}

::-webkit-scrollbar-thumb:hover{
	background: #ffffff;
}
::-webkit-scrollbar-track{
	background: transparent;
}